<div class="xblock-studio">
    <h3>Enter Question Description:</h3>
    <textarea id="question_description">{{ self.question_description }}</textarea>
    
    <div id="rubric-editor" class="sortable">
        {% for item in self.rubric %}
        <div class="rubric-item" data-index="{{ forloop.counter0 }}">
			<div class="rubric-handle">☰</div>
            <label>Label: <input type="text" class="rubric-label" value="{{ item.label }}" /></label>
            <label>Explanation: <textarea class="rubric-description">{{ item.description }}</textarea></label>
            <label>Weight: <input type="number" class="rubric-weight" value="{{ item.weight }}" step="0.5" /></label>
            <button class="delete-rubric-item">Delete</button>
        </div>
        {% endfor %}
    </div>
    
	<div>
		<label for="model_name">Select Model:</label>
		<select id="model_name">
			{% for model in model_names %}
			<option value="{{ model }}" {% if model == self.model_name %}selected{% endif %}>{{ model }}</option>
			{% endfor %}
		</select>
	<div>
	
	 <div class="toggle-container">
        <label for="show_label">Show Label:</label>
        <input type="checkbox" id="show_label" {% if self.show_label %}checked{% endif %} />
    </div>

    <div class="toggle-container">
        <label for="show_feedback">Show Feedback:</label>
        <input type="checkbox" id="show_feedback" {% if self.show_feedback %}checked{% endif %} />
    </div>
	
    <button class="save-button">Save</button>
    <button id="add-rubric-item">Add rubric item</button>
</div>

</div>
